@import '../../../colors.sass'
@import '../../../const.sass'
  
.editable-commodity-tabel 
  width: 100%

  thead
    tr
      border: $border-width solid $border-color
      th
        color: $light-gray
        font:
          size: $small-font-size
          weight: $font-weight-regular
        line-height: $big-line-height
        text-align: center

  tbody
    tr.elements
      border: $border-width solid $border-color
      td
        color: $gray
        font-size: $normal-font-size
        line-height: $giant-line-height
        text-align: center

    tr.total-sum
      border: none
      td
        text-align: right
        font:
          size: $small-title-font-size
          weight: $font-weight-semibold
        color: $gray
        line-height: $giant-line-height

  &__modal-btn
    border: none
    background: transparent
    &__icon
      width: $icon-size
      height: $icon-size
      fill: $gray
        
  &__inline-item
    display: inline-block   


