@import '../../colors.sass'
@import '../../const.sass'

.checkbox
  width: 100%
  margin: 0

  &__input
    position: relative
    display: inline-block
    margin-right: $small-margin

  &__label
    color: $gray
    font-size: $normal-font-size
    line-height: $line-height