@import '../../colors.sass'
@import '../../const.sass'

.checkbox
  width: 100%

  &__label
  border: $border-width solid $border-color
  outline: none
  color: $gray
  font-size: $normal-font-size
  line-height: $line-height
  padding: 0 $smallest-element-padding 0 $smallest-element-padding
  margin-bottom: $after-element-margin