$coral: #F64C72
$light-gray: #9D9D9D
$blue-light-gray: #e5e4ea
$blue-light-gray-optical: #e5e4ea5a
$gray: #5E5E5E
$blue: #0065DD
$dark-blue: #044da7
$background-gray: #F5F5F5
$light-puprle: #D5D5F4
$white: #FFFFFF
$black: #000000
$border-color: rgba(157,157,157,1)
$shadow-color: rgba(0,0,0,0.15)
$dark-coral: #d44463