@import '../../colors.sass'
@import '../../const.sass'

.filters
  width: 100%

  &__title
    font: 
      weight: $font-weight-semibold
      size: $subtitle-font-size
    color: $gray
  
  &__line
    border-bottom: $border-width solid $border-color
    margin-bottom: $after-element-margin

  &__button
    background: $coral
    color: $white
    font: 
      weight: $font-weight-semibold
    border-radius: $button-border-radius
    border: none
    padding: $button-padding $small-element-padding $button-padding $small-element-padding

    &:hover
      background: $dark-coral
